name: deploy
on:
  push:
    branches: [ master ]
env:
  ENDPOINT_URL: ${{ secrets.ENDPOINT_URL }}
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install requirements
        run: pip install -r .github/requirements.txt
      - name: Update Pinecone database
        run: python .github/update_db.py